# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Logs
logs/
*.log

# Environment variables
env.sh
.env

# OS
.DS_Store
Thumbs.db

# Application properties (production)
src/main/resources/application-prod.properties

# Temporary files
*.tmp
*.temp
